h3{
  text-align: center;

}

h3,.complete {
    color: #09371e;
  }
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: rgba(15, 55, 12, 0.767);
    color: white;
  }
  
  
  .incomplete {
    color:rgb(243, 63, 63);

  }
  .stylestatus{
    cursor: default;
  }
p{
  width: 2.3%;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #0b4726;
}
div{
  margin: 4%;
  display: flex;
  align-items: end;
  justify-content: end;
}
 
p:hover{
  transform: scale(1.5);
  transition: 0.5s;

}